<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner Elements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="inProcess ? '#00000000' : '#ffff'">
  <ion-slides [options]="slideOpts" class="ion-flex-grow">
    <ion-slide>
      <ion-button (click)="startScan()" expand="full" fill="outline" size="large" shape="round" *ngIf="!inProcess">
        <ion-icon name="scan" slot="start"></ion-icon>
        Escanear código
      </ion-button>
    </ion-slide>

  </ion-slides>
  <ion-item class="bg-secondary" class="text-center ion-padding">
    <h2>{{data}}</h2>
  </ion-item>
</ion-content>